AnadoluRentalForm/AnadoluRentalForm.SOAP/Connected Services/AnadoluRentalKullaniciService/KullaniciWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="KullaniciEkle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="kull" type="tns:Kullanici" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Kullanici">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="kullaniciID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="kullAdi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="kullSifre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="kullRolID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="kullSirketID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Ad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Soyad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Adres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rol" type="tns:Rol" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Rol">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="rolID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="rolAdi" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="KullaniciEkleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KullaniciEkleResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KullaniciGuncelle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="kull" type="tns:Kullanici" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KullaniciGuncelleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KullaniciGuncelleResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KullaniciSilById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="kullID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KullaniciSilByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KullaniciSilByIdResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAllKullanici">
        <s:complexType />
      </s:element>
      <s:element name="SelectAllKullaniciResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAllKullaniciResult" type="tns:ArrayOfKullanici" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfKullanici">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Kullanici" nillable="true" type="tns:Kullanici" />
        </s:sequence>
      </s:complexType>
      <s:element name="KullaniciSecById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KullaniciSecByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KullaniciSecByIdResult" type="tns:Kullanici" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="KullaniciEkleSoapIn">
    <wsdl:part name="parameters" element="tns:KullaniciEkle" />
  </wsdl:message>
  <wsdl:message name="KullaniciEkleSoapOut">
    <wsdl:part name="parameters" element="tns:KullaniciEkleResponse" />
  </wsdl:message>
  <wsdl:message name="KullaniciGuncelleSoapIn">
    <wsdl:part name="parameters" element="tns:KullaniciGuncelle" />
  </wsdl:message>
  <wsdl:message name="KullaniciGuncelleSoapOut">
    <wsdl:part name="parameters" element="tns:KullaniciGuncelleResponse" />
  </wsdl:message>
  <wsdl:message name="KullaniciSilByIdSoapIn">
    <wsdl:part name="parameters" element="tns:KullaniciSilById" />
  </wsdl:message>
  <wsdl:message name="KullaniciSilByIdSoapOut">
    <wsdl:part name="parameters" element="tns:KullaniciSilByIdResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAllKullaniciSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAllKullanici" />
  </wsdl:message>
  <wsdl:message name="SelectAllKullaniciSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAllKullaniciResponse" />
  </wsdl:message>
  <wsdl:message name="KullaniciSecByIdSoapIn">
    <wsdl:part name="parameters" element="tns:KullaniciSecById" />
  </wsdl:message>
  <wsdl:message name="KullaniciSecByIdSoapOut">
    <wsdl:part name="parameters" element="tns:KullaniciSecByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="KullaniciWebServiceSoap">
    <wsdl:operation name="KullaniciEkle">
      <wsdl:input message="tns:KullaniciEkleSoapIn" />
      <wsdl:output message="tns:KullaniciEkleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KullaniciGuncelle">
      <wsdl:input message="tns:KullaniciGuncelleSoapIn" />
      <wsdl:output message="tns:KullaniciGuncelleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KullaniciSilById">
      <wsdl:input message="tns:KullaniciSilByIdSoapIn" />
      <wsdl:output message="tns:KullaniciSilByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllKullanici">
      <wsdl:input message="tns:SelectAllKullaniciSoapIn" />
      <wsdl:output message="tns:SelectAllKullaniciSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KullaniciSecById">
      <wsdl:input message="tns:KullaniciSecByIdSoapIn" />
      <wsdl:output message="tns:KullaniciSecByIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KullaniciWebServiceSoap" type="tns:KullaniciWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KullaniciEkle">
      <soap:operation soapAction="http://tempuri.org/KullaniciEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciGuncelle">
      <soap:operation soapAction="http://tempuri.org/KullaniciGuncelle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciSilById">
      <soap:operation soapAction="http://tempuri.org/KullaniciSilById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllKullanici">
      <soap:operation soapAction="http://tempuri.org/SelectAllKullanici" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciSecById">
      <soap:operation soapAction="http://tempuri.org/KullaniciSecById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KullaniciWebServiceSoap12" type="tns:KullaniciWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KullaniciEkle">
      <soap12:operation soapAction="http://tempuri.org/KullaniciEkle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciGuncelle">
      <soap12:operation soapAction="http://tempuri.org/KullaniciGuncelle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciSilById">
      <soap12:operation soapAction="http://tempuri.org/KullaniciSilById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllKullanici">
      <soap12:operation soapAction="http://tempuri.org/SelectAllKullanici" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciSecById">
      <soap12:operation soapAction="http://tempuri.org/KullaniciSecById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KullaniciWebService">
    <wsdl:port name="KullaniciWebServiceSoap" binding="tns:KullaniciWebServiceSoap">
      <soap:address location="http://localhost:61986/KullaniciWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="KullaniciWebServiceSoap12" binding="tns:KullaniciWebServiceSoap12">
      <soap12:address location="http://localhost:61986/KullaniciWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>